// COLORS

$a-color: #fff;
$main-header-color: #2BBBB3;
$main-header-complement: complement($main-header-color);
$nav-border: rgba(255,255,255,.2);
$nav-color: #2c3e50;
$page-header-color: #333;
$page-nav-color: #01B0F0;
$page-title-color: #FF358B;

// FONTS

$body-font: 'Josefin Sans', sans-serif;
$header-font: 'Josefin Slab', serif;

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: $body-font;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.page-header {
  background-color: $page-header-color;
  font-family: $header-font;
  height: 20vh;
  letter-spacing: .1em;
}

h1 {
  color: $page-title-color;
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0 0 20px;
  width: 60%;
}

.page-nav {
  color: $page-nav-color;
  // display: flex;
  // float: right;
  // justify-content: center;
  margin-top: 20px;
  width: 90%;
}

.page-nav li {
  display: inline-block;
  font-size: 24px;
  margin-left: 20px;
  // margin: 20px;
}

h2 {
  color: $page-nav-color;
  font-family: $header-font;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: .05em;
  margin: 20px 0;
  text-align: center;
}

p {
  margin: 20px auto;
  width: 90%;
}

.week {
  border: 2px solid $page-header-color;
  padding: 5px;
}

h3 {
  font-size: 20px;
  text-align: center;
}

.main-header {
	background: $main-header-color;
  border-radius: 5px;
  border: 2px solid $main-header-complement;
  margin: 20px auto;
  min-height: 90px;
  padding: 1em 2em;
  width: 90%;
}
  // .main-header:after {
  //   content: " ";
  //   display: table;
  //   clear: both;
  // }

// .logo {
//   float: left;
//   margin-top: 5px;
// }

img {
  max-width: 60px;
}

//   .logo::before {
//     color: $a-color;
//     content: "\e001";
//     font-weight: normal;
//     font-style: normal;
//     font-size: 2.5em;
//     font-family: "icomoon";
//     -webkit-font-smoothing: antialiased;
//   }


.main-nav,
.drop-nav,
.sign-in {
  background: $nav-color;
  color: $a-color;
}

.main-nav,
.sign-in {
  border-radius: 4px;
  border: solid 1px $main-header-complement;
  float: right;
  height: 30px;
  letter-spacing: .1em;
  margin-top: 20px;
  width: 100px;
}

.main-nav {
  // margin-top: -25px;
}

.sign-in {
  font-size: .8em;
  letter-spacing: .2em;
  margin-left: 5px;
  margin-right: -10px;
  padding-top: 7px;
}

.menu {
  // background-color: yellow;
  // margin-right: auto;
  padding-bottom: 15px;
  // text-align: left;
  // width: 80px;
}

.main-nav > li {
  border-left: solid 1px $nav-border;
  // float: left;
}

.main-nav li:first-child {
  border-left: none;
}

.main-nav a {
  color: $a-color;
  display: block;
  padding: 10px 30px;
  text-decoration: none;
}

.dropdown {
  position: relative;
}

.dropdown:after {
  color: $a-color;
  content: "\25BE";
  display: block;
  font-size: .5em;
  position: absolute;
  right: 12%;
  top: 35%;
}

.drop-nav {
  display: none;
  position: absolute;
}

.drop-nav li {
  border-bottom: 1px solid $nav-border;
}

.drop-nav li:first-child {
  border-top: 1px solid $nav-border;

}

.dropdown:hover > .drop-nav {
  display: block;
}
