.tabs {
	border-left: 1px solid #999999;
	float: left;
	height: 100%;
	list-style: none;
	width: 100%;
}

.tabs li {
	background: $content-card-primary;
	border-left: none;
	border: 1px solid #999999;
	cursor: pointer;
	float: left;
	font-weight: bold;
	height: 31px;
	line-height: 31px;
	overflow: hidden;
	padding: 0px 21px ;
	position: relative;
  width: 33.3%;
  &:hover {
    background: $nav-border;
  }
  @media #{$breakpoint-650} {
    font-size: 20px;
    height: 50px;
    padding-top: 5px;
  }
}

.tabs li.active {
  background: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.tab-container {
	background: #FFFFFF;
	border-top: none;
	border: 1px solid #999999;
	clear: both;
  display: block;
	float: left;
	width: 100%;
}

h4 {
  font-size: 1.5em;
}

.tab-content {
	display: none;
	font-size: 1.2em;
	padding: 20px;
}

.three .element {
  display: block;
  margin-bottom: 450px;
  @media #{$breakpoint-500} {
    margin-bottom: 400px;
  }
  @media #{$breakpoint-650} {
    margin: 0 auto;
    margin-bottom: 350px;
    width: 85%;
  }
  @media #{$breakpoint-900} {
    margin-bottom: 300px;
  }
}

.description {
  display: block;
  margin-top: 100px;
}
