.content-card-container {
  display: flex;
  flex-direction: column;
}

.content-card {
  background-color: $nav-border;
  // border: 2px solid black;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin: 5vh auto;
  position: relative;
  // overflow-y: hidden;
  width: 300px;
}
.content-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.content-card-title {
  color: $content-card-primary;
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: .1em;
  padding: 15px 0;
  text-align: center;
}

.content-card-image {
  display: inline-block;
  height: auto;
  margin: 0 auto;
  max-width: 85%;
}

.content-card-text {
  font-size: 18px;
  height: 33%;
  line-height: 1.2em;
  margin: 1vh auto;
  padding: 2% 5%;
  width: 90%;
}

.content-card-link {
  position: absolute;
  bottom: 20px;
  left: 75px;
  border: 2px solid $content-card-primary;
  color: $content-card-primary;
  font-size: 16px;
  font-weight: bolder;
  height: 35px;
  letter-spacing: 0.09em;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.7s ease,
              color 0.7s ease;
  width: 50%;
  &:hover {
    background-color: $content-card-primary;
    color: $content-card-button-hover;
  }
}

@media screen and (min-width: 600px) {

  .content-card-container {
    flex-flow: row wrap;
    margin: 10px;
  }

  .content-card {
    max-width: 50vw;
  }
}
