.reusable-footer {
  width: 100%;
}

  // .logo-container {
  //   height: 35px;
  //   margin: 0 auto;
  // }
  //
  // footer .logo {
  //   margin: 0 auto;
  //   height: 35px;
  //   padding: 0 45%;
  // }

.footer-lists {
  margin-top: 20px;
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-around;
}

.footer-lists ul {
  flex-basis: 10em;
  // flex-shrink: 0;
  // padding: 0;
}

.footer-lists li {
  line-height: 1.5em;
  list-style: none;
  text-align: center;
}

.reusable-footer {
  background: black;
  border-top: 2px solid $content-card-button-hover;
  color: $content-card-button-hover;
  height: 150px;
  margin-top: 10px;
  text-align: center;
}

h5 {
  font-size: 18px;
  font-weight: bold;
  color: $content-card-primary;
}

.social-media-list {
  // margin-top: 20px;
}

.social-media-logo {
  display: inline-block;
  float: left;
  margin: 10px auto;
  max-width: 28px;
}

.social-media-logo:first-child {
  margin-right: 5px;
}
