// COLORS

$main-header-color: rgb(140, 193, 193);
$nav-border: rgba(0,0,0,.15);
$page-header-color: #333;
$page-nav-color: #01B0F0;
$page-title-color: #FF358B;

// FONTS

$body-font: 'Josefin Sans', sans-serif;
$header-font: 'Josefin Slab', serif;
