// COLORS

$a-color: #fff;
$main-header-color: #2BBBB3;
$main-header-complement: complement($main-header-color);
$nav-border: rgba(255,255,255,.2);
$nav-color: #2c3e50;
$page-header-color: #333;
$page-nav-color: #01B0F0;
$page-title-color: #FF358B;

// FONTS

$body-font: 'Josefin Sans', sans-serif;
$header-font: 'Josefin Slab', serif;
