/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.main-header {
  background-color: #8cc1c1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  height: 20vh;
  flex-direction: column;
  text-align: center; }

img {
  float: left;
  margin-bottom: 25px;
  max-width: 70px; }

.main-nav {
  display: none;
  flex: 1;
  transform: 300ms all ease; }

.main-list {
  list-style-type: none; }
  .main-list:first-child {
    border: 1px solid rgba(0, 0, 0, 0.15); }

.main-list-item {
  background-color: #8cc1c1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: relative; }
  .main-list-item > a {
    color: rgba(0, 0, 0, 0.65);
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 1.5rem 0;
    text-decoration: none;
    transition: 250ms all ease; }
    .main-list-item > a:last-of-type {
      border-bottom: none; }

.main-list-item:hover > a {
  color: white; }

#logo {
  line-height: 60px;
  position: relative; }

#navToggle {
  background-color: rgba(0, 0, 0, 0.15);
  margin-right: 15px;
  position: absolute;
  right: 0;
  transition: 300ms all ease; }
  #navToggle:hover {
    background-color: rgba(0, 0, 0, 0.15); }

#navToggle > a {
  color: rgba(255, 255, 255, 0.85);
  display: block;
  font-size: 1em;
  font-weight: 600;
  padding: 0 2.5rem;
  text-decoration: none;
  transition: 300ms all ease; }
  #navToggle > a:hover > a {
    color: white; }

@media all and (min-width: 600px) {
  #navToggle {
    display: none; }

  .main-nav {
    display: block;
    float: right;
    margin-left: 20%;
    margin-top: 8%;
    position: absolute;
    width: 70%; }

  .main-list {
    border: none;
    display: flex;
    flex-flow: row wrap;
    height: 40px;
    justify-content: space-between; }

  .main-list:first-child {
    border: none; }

  .main-list-item {
    background-color: rgba(0, 0, 0, 0.15);
    line-height: 50px; }
    .main-list-item > a {
      padding: 0 1.25rem; }
      .main-list-item > a:hover > nav {
        background-color: #333333;
        border-radius: .25em;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
        display: block;
        width: 196px; } }
@media all and (min-width: 700px) {
  .nav-title {
    padding-top: 0; }

  img {
    margin-top: 10%; }

  .main-nav {
    margin-top: 6%; }

  .main-list {
    height: 50px; }

  .main-list-item a {
    font-size: 24px; } }
@media all and (min-width: 950px) {
  img {
    margin-top: 8%; }

  .main-nav {
    margin-top: 5%; } }
.content-card-container {
  display: flex;
  flex-direction: column; }

.content-card {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin: 5vh auto;
  position: relative;
  width: 300px; }

.content-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.content-card-title {
  color: #3778bf;
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: .1em;
  padding: 15px 0;
  text-align: center; }

.content-card-image {
  display: inline-block;
  height: auto;
  margin: 0 auto;
  max-width: 85%; }

.content-card-text {
  font-size: 18px;
  height: 33%;
  line-height: 1.2em;
  margin: 1vh auto;
  padding: 2% 5%;
  width: 90%; }

.content-card-link {
  position: absolute;
  bottom: 20px;
  left: 75px;
  border: 2px solid #3778bf;
  color: #3778bf;
  font-size: 16px;
  font-weight: bolder;
  height: 35px;
  letter-spacing: 0.09em;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.7s ease, color 0.7s ease;
  width: 50%; }
  .content-card-link:hover {
    background-color: #3778bf;
    color: #d0e0f2; }

@media screen and (min-width: 600px) {
  .content-card-container {
    flex-flow: row wrap;
    margin: 10px; }

  .content-card {
    max-width: 50vw; } }
.tabs {
  float: left;
  list-style: none;
  height: 100%;
  border-left: 1px solid #999999;
  width: 100%; }

.tabs li {
  float: left;
  padding: 0px 21px;
  height: 31px;
  line-height: 31px;
  border: 1px solid #999999;
  border-left: none;
  font-weight: bold;
  background: #3778bf;
  overflow: hidden;
  position: relative;
  width: 33.3%; }
  .tabs li:hover {
    background: rgba(0, 0, 0, 0.15); }

.tabs li.active {
  background: #FFFFFF;
  border-bottom: 1px solid #FFFFFF; }

.tab-container {
  display: block;
  border: 1px solid #999999;
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
  background: #FFFFFF; }

h4 {
  font-size: 1.5em; }

.tab-content {
  padding: 20px;
  font-size: 1.2em;
  display: none; }

.three .element {
  display: block;
  margin-bottom: 450px; }
  @media screen and (min-width: 500px) {
    .three .element {
      margin-bottom: 400px; } }

.description {
  display: block;
  margin-top: 100px; }

html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

body p {
  letter-spacing: 0.07em; }

.page-header {
  background-color: black;
  font-family: "Josefin Slab", serif;
  height: 20vh;
  letter-spacing: .1em; }

h1 {
  color: #FF358B;
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0 0 20px;
  width: 60%; }

.page-nav {
  color: #01B0F0;
  margin-top: 20px;
  width: 90%; }

.page-nav li {
  display: inline-block;
  font-size: 22px;
  margin-left: 10px; }
  .page-nav li:first-child {
    margin-left: 20px; }

h2 {
  color: #3778bf;
  font-family: "Josefin Slab", serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: .05em;
  margin: 20px 0;
  text-align: center; }

.week {
  min-height: 100vh;
  margin: 40px 5px 0;
  padding: 5px; }

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; }

p {
  font-size: 24px;
  margin: 20px auto; }

.main-about,
.description {
  margin-top: 30px;
  padding-top: 20px;
  width: 80%; }

.code a {
  color: black; }

.site-footer {
  background-color: black;
  height: 100px; }

@media screen and (min-width: 650px) {
  h1 {
    font-size: 48px;
    padding-top: 40px;
    width: 45%; }

  .page-nav {
    float: right;
    height: 60px;
    margin-top: -25px;
    width: 55%; }

  .page-nav li {
    font-size: 26px;
    margin-right: 5px; } }
@media screen and (min-width: 900px) {
  .page-nav {
    margin-top: -30px;
    width: 55%; }

  .page-nav li {
    font-size: 30px;
    width: 90px; } }

/*# sourceMappingURL=styles.css.map */
