@import "_reset";
@import "_variables";
@import "_reusable-header";
@import "_content-card";
@import "_accordion-tab";
@import "_footer";

html {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-family: $body-font;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body p {
  letter-spacing: 0.07em;
}

.page-header {
  background-color: black;
  font-family: $header-font;
  height: 20vh;
  letter-spacing: .1em;
}

h1 {
  color: $page-title-color;
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0 0 20px;
  width: 60%;
}

.page-nav {
  color: $page-nav-color;
  margin-top: 20px;
  width: 90%;
}

.page-nav li {
  display: inline-block;
  font-size: 22px;
  margin-left: 10px;
  &:first-child {
    margin-left: 20px;
  }
}

h2 {
  color: $content-card-primary;
  font-family: $header-font;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: .05em;
  margin: 20px 0;
  text-align: center;
}

.week {
  // border: 2px solid $page-header-color;
  min-height: 100vh;
  margin: 40px 5px 0;
  padding: 5px;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 24px;
  margin: 20px auto;
}

.main-about,
.description {
  margin-top: 30px;
  padding-top: 20px;
  width: 80%;
}

.code a {
  color: black;
}

.site-footer {
  background-color: black;
  height: 100px;
}


@media screen and (min-width: 650px) {

  h1 {
    font-size: 48px;
    padding-top: 40px;
    width: 45%;
  }

  .page-nav {
    float: right;
    height: 60px;
    margin-top: -25px;
    width: 55%
  }

  .page-nav li {
    font-size: 26px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 900px) {

  .page-nav {
    margin-top: -30px;
    width: 55%
  }
  .page-nav li {
    font-size: 30px;
    width: 90px;
  }
}
